@import 'variables';
.education {
  padding: 20px 0;
  li {
    display: flex;
    margin: 10px 0;
  }
  span {
    width: 10%;
    font-weight: bold;
  }
  div {
    background-color: @gray;
    width: 90%;
    padding: 10px;
  }
  h4 {
    margin-top: 10px;
  }
}
